@import '../css/bourbon/bourbon';
// @import 'neat/neat';

$text-color:#000;
$brown-color:#b2a492;
$gray-color:#ededed;


@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

@font-face {
    font-family: "CenturyGothicRegular";
    src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot");
    src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/CenturyGothicRegular/CenturyGothicRegular.woff") format("woff"),
    url("../fonts/CenturyGothicRegular/CenturyGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


body {
  font: 14px 'CenturyGothicRegular';
  color: $text-color;
  background: red;
  
}
body.show-overlay {
  overflow: hidden;
  & .overlay.active{
    visibility: visible;
    opacity: 1;
  }
}

h1, p {
  margin: 0;
}

button{
   border:0;
   outline: 0;
    font: 700 16px 'CenturyGothicRegular';
}

input{
  border:0;
  outline: 0;
  background: rgba(255, 255, 255, 0.25);
}

h1{
  text-transform: uppercase;
  text-align: center;
  font: 700 18px 'CenturyGothicRegular';
}
section  h1{
  color: $brown-color;
  margin-bottom: 35px;
}

.btn {
  @include border-radius(0px);
}
header {
  @include size(100% 94px);
  background-color: #fff;
}

.navbar-default {
  background-color: transparent;
  border: none;
  min-height: 94px;
  margin-bottom: 0px;
  font: 11px 'CenturyGothicRegular';
  text-transform: uppercase;
  .navbar-brand {
    @include size(93px 60px);
    background: url(../img/logo970.png) no-repeat 0px 0px;
    margin: 7px 20px 0 0;
    margin-left: 0 !important;
  }
  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus,
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus {
    background-color: #b2a492;
    color: #fff;
  }

  .navbar-nav > li.to-contact{
    display: none;
  }

  .navbar-nav > li > a {
    padding: 37px 12px;
    color: $text-color;
    background-color: #fff;
  }
  .navbar-right{
    color:$text-color;
    padding-top: 32px;
    padding-right: 0px;
    float: right !important;
    .lang-panel {
      border:1px solid #c5baad;
      @include size(64px 28px);
      padding: 7px 7px;
      span{
        display: inline-block
      }
      span a{
        color:$text-color;
        text-transform: none;
      }
      span:first-child:after{
        position: absolute;
        content:"|";
        margin: 0px 5px;
      }

      span.active a{
        color: #b2a492;
        text-decoration: underline;
      }

      span:nth-child(2) a{
        padding-left: 10px
      }
    }

    span.phone{
      line-height: 30px;
      padding-left: 24px;
      background: url(../img/phone.png) no-repeat 0px 7px;
      margin-left: 14px;
      height: 24px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .navbar-toggle{
    border: none;
    height: 36px;
    margin-top: 19px;
    margin-right: 19px;
    &:hover, &:focus{
      background-color: transparent;
    }
  }

  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 10px;
  }

  .navbar-toggle .icon-bar {
    display: block;
    background-color: #000;
    width: 52px;
    border-radius: 1px;
  }

}

.s_review{
  background-image: url(../img/s_review.png);
  background-repeat: repeat-x;
  min-height: 312px;
  min-height: 462px;
  background-position: center center;
  background-size: cover;
}

.carousel .item {
  min-height: 462px;

  .carousel-caption{
    top: 137px;
    .h1{
      line-height: 50px;
      font-size: 30px;
    }
  }
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
  opacity: 1!important;
}


.carousel-control.left .chevron-left,
.carousel-control.right .chevron-right{
  background: url(../img/arrow-left.png) no-repeat;
  @include size(21px 31px);
  top: 50%;
  display: block;
  position: absolute;

}

.carousel-control.right .chevron-right{
  background: url(../img/arrow-right.png) no-repeat;
  right: 0;
}

.carousel-indicators{
  bottom: 14px;
  li{
    @include size(12px);
    //@include border-radius(0px);
    border-radius:0;
    background-color: #fff;
    border: 1px solid #fff;
    margin: 1px !important;
    &.active {
      background-color: transparent;
    }
  }
}

.s_review .to-contact{
  @include transform(rotate(360deg));
  cursor: pointer;
  overflow: hidden;
  @include position(fixed, 150px 0px null null);
  z-index: 10;
  background-color: $brown-color;
  display: inline-block;
  vertical-align: middle;
  @include size(38px 117px);
  a{
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    @include transform(rotate(-90deg));
    display: block;
    vertical-align: middle;
    line-height: 162px;
  }
}

.about {
  background-color: $gray-color;
  padding: 60px 0;
}

.about {
  background-color: $gray-color;
  padding: 60px 0;
  line-height: 22px;
}

.about .leftside,
.about .rightside{
  height: 283px;
  position: relative;
}

.about .leftside .img-block{
  background-image: url("../img/about.png");
  background-position: center center;
  background-repeat: no-repeat;
  @include size(100%);
  background-size: cover;
}
.about .rightside .description{
  height: auto;
  max-height: 80%;
  overflow: hidden;
}
.about .rightside .btn{
  position: absolute;
  bottom: 0;
  display: block;
  text-transform: none;
  @include size(102px 28px);
  line-height: 12px !important;
  font-size: 12px;
  color: $text-color;
  border: 1px solid $text-color;
}

.choose_flat {
  padding: 60px 0;
}
.slick-slider {
  padding: 0 32px;
  margin-bottom: 2px;
}

.slick-slider .slick-slide {
  outline: 0 !important;
}
.slider .slick-prev,  .slider .slick-next {
  top: 50%;
  width: 14px;
  height: 21px;
  background-size: contain;
  overflow: visible !important;
  z-index: 1;
}

.slider .slick-prev {
  left: 0px;
  background: url(../img/sl-arr-left.png) no-repeat center center;
}

.slider .slick-next {
  right: 0px;
  background: url(../img/sl-arr-right.png) no-repeat center center;
}

.slick-next:before, .slick-prev:before{
  content: "";
}

.slick-slide img{
  margin: 0 auto;
  outline: 0 !important;
}

.s_table{
  padding: 60px 0;
  min-height: 490px;
  background-color: $gray-color;
}

.s_table table{
  @include size(895px auto);
  color: $brown-color;
  margin: 0 auto;
}

.s_table table th{
  font: 18px 'CenturyGothicRegular';
  height: 53px;
}

.s_table table th:nth-child(1),
.s_table table th:nth-child(6){
  width: 222px;
  padding-left: 65px;
  padding-right: 65px;
}
.s_table table>tbody>tr td:nth-child(1),
.s_table table>tbody>tr td.last{
  padding-left: 65px;
  padding-right: 65px;
}

.s_table table th:nth-child(2){
  padding-left: 27px;
  padding-right: 27px;
  width: 102px;
}

.s_table table th:nth-child(3){
  padding-left: 23px;
  padding-right: 23px;
  width: 93px;
}

.s_table table th:nth-child(4){
  padding-left: 48px;
  padding-right: 48px;
}

.s_table table td.fourth{
  padding-left: 48px;
  padding-right: 48px;
}

.s_table table td.third{
  padding-left: 23px;
  padding-right: 23px;
}

.s_table table th:nth-child(5){
  width: 102px;
  padding-left: 23px;
  padding-right: 23px;
}

.s_table table td.fifth{
  padding-left: 23px;
  padding-right: 23px;
}

.s_table table td[rowspan="7"]{
  padding-left: 27px;
  padding-right: 27px;
}

.s_table table td{
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
}


.s_form {
  background-size: cover;
  background-image: url("../img/form_bg.png");
  background-repeat: no-repeat;
  height: 561px;
  padding: 60px 0px;
}

.s_form .form-container{
  margin: 0 auto;
  width: 314px;
  color: #fff;
  font-size: 14px;
  font-style: italic;
}

.s_form .form-container h1{
  color:#fff;
  font-style: normal;
}


.s_form .form-container input{
  margin-bottom: 14px;
  color:#fff;

  height: 36px;
  width: 100%;
  padding-left: 18px;
  padding-right: 18px;
}

.s_form .form-container .btn{
  height: 43px;
  text-transform: uppercase;
  font-size: 16px;
  color: $brown-color;
  width: 100%;
  font-weight: 700;
  font-style: normal;
  margin-top: 5px;
}

.radio-block, .checkbox-block {
  display: table;
  padding-left: 17px;
  padding-right: 17px;
}

.radio-block > div, .checkbox-block > div{
  display: table-cell;
}

.radio-block > div:first-child, .checkbox-block > div:first-child{
  padding-right: 25px
}

.radio-item, .checkbox-item {
  position: relative;
  margin-bottom: 15px;
}

.radio-item input[type="radio"].radio-styled,
.checkbox-item input[type="checkbox"].checkbox-styled{
  display: none;
  box-sizing: border-box;
  padding: 0;
  margin: 2px 0 0;
  line-height: normal;
}
.radio-item input[type="radio"].radio-styled+label,
.checkbox-item input[type="checkbox"].checkbox-styled+label {
  padding-left: 22px;
  line-height: 15px;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
}

.radio-item input[type="radio"].radio-styled+label:after{
  background: url(../img/radio-buttons.png) no-repeat 0 bottom;
  content: " ";
  display: block;
  height: 14px;
  margin: 0;
  padding: 0;
  @include position(absolute, 2px null null 0px);
  width: 14px;
}

.radio-item input[type=radio].radio-styled:checked+label:after{
  background-position: 0 0px;
}

.checkbox-item input[type="checkbox"].checkbox-styled+label:after{
  background: url(../img/checbox-buttons.png) no-repeat 0 -22px;
  content: " ";
  display: block;
  height: 14px;
  margin: 0;
  padding: 0;
  @include position(absolute, 2px null null 0px);
  width: 14px;
}

.checkbox-item input[type="checkbox"].checkbox-styled:checked+label:after{
  background-position: 0 0px;
}

.for-select>div {
  position: relative;
}

footer{
  height: 316px;
  font-size: 14px;
  color:#fff;
}
.footer-top {
  height: 284px;
  background-color: $brown-color;
  padding-top: 60px;
  position: relative;
}

.footer-top h1{
  color: #fff;
  margin-bottom: 20px;
}

.mini-social {
  @include position(absolute, null null 30px null );
  left: calc(50% - 38px);
}

.mini-social a,
.mobile-social a,{
  display: inline-block;
  margin: 0 5px;
}

.mini-social a{
  background-image: url('../img/social_desc.png');
  background-position: 0 0;
  &.fb{
    width: 8px;
    height: 13px;
  }

  &.twit{
    background-position: -25px 0px;
    width: 16px;
    height: 13px;
  }

  &.in{
    background-position: -58px 0;
    width: 14px;
    height: 13px;
  }
}

.footer-top .contacts .wrap{
  margin: 0 auto;
  display: table;
}


.footer-top .contacts h4{
  color: white;
  font-size: 11px;
  font-weight: 400;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  padding-left: 45px;
}

.footer-top .contacts h4:before{
  content:"";
  width: 35px;
  height: 2px;
  background-color: #FFF;
  @include position(absolute, 5px null null 0px);

}

.footer-bottom {
  height: 32px;
  background-color: #726b63;
}

.copyright{
  color: white;
  font-size: 10px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}

.mobile-social {
  display: none;
  text-align: center;
  position: relative;
  top: 27px;
  a{
    background-image: url("../img/social_mob.png");
    &.fb{
      width: 11px;
      height: 19px;
    }

    &.twit{
      background-position: -37px 0px;
      width: 22px;
      height: 19px;
    }

    &.in{
      background-position: -84px 0;
      width: 22px;
      height: 19px;
    }
  }
}

.form-container  input::-webkit-input-placeholder {color:#fff;}
.form-container  input::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
.form-container  input:-moz-placeholder           {color:#fff;}/* Firefox 18- */
.form-container  input:-ms-input-placeholder      {color:#fff;}

.overlay {
  @include size(100%);
  z-index: 11;
  @include position(fixed, 0px null null 0px);
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  @include transition(visibility 0s, opacity 0.3s linear);
  background: rgba(0, 0, 0, 0.8);
  .to-close{
    @include size(14px);
    @include position(absolute, 15px 15px null null);
    background: transparent url(../img/ic_close.png) 0 0 no-repeat
  }

  .form-container{
    padding: 30px 69px;
    top: 23%;
    @include position(relative, 23% null null null);
    margin: 0 auto;
     @include size(351px 359px);
     background-color: #e1e1e1;
    .input-container{
      display: table;
      margin-bottom: 19px;
      @include size(210px auto);

    input, textarea{
      border: 0 !important;
      outline: 0 !important;
      padding: 5px;
      margin-bottom: 10px;
      font-style: italic;
      background-color: #FFF;
      @include size(100% 22px)
    }

    input::-webkit-input-placeholder {
      color:rgba(152, 152, 152, 1)
    }

    input::-moz-placeholder{
      color:rgba(152, 152, 152, 1)/* Firefox 19+ */
    }

    input:-moz-placeholder{
      color:rgba(152, 152, 152, 1) /* Firefox 18- */
    }

    input:-ms-input-placeholder{
      color:rgba(152, 152, 152, 1)
    }

    textarea::-webkit-input-placeholder {
      color:rgba(152, 152, 152, 1)
    }

    textarea::-moz-placeholder{
      color:rgba(152, 152, 152, 1) /* Firefox 19+ */
    }

    textarea:-moz-placeholder{
      color:rgba(152, 152, 152, 1) /* Firefox 18- */
    }

    textarea:-ms-input-placeholder{
      color:rgba(152, 152, 152, 1)
    }

    textarea{
      resize: none;
      @include size(100% 85px)
    }
  }

    .input-container > label{
      color: $brown-color;
      font:700 14px "CenturyGothicRegular";
      text-transform: uppercase;
      margin: 10px 0;
      @include position(relative, 50% null null 50%);
      @include transform(translateX(-50%) translateY(-50%));
    }
    .checkbox-item{
      display: table;
      margin: 0 auto;
    }

    .checkbox-item input[type="checkbox"].checkbox-styled+label:after{
        background: url(../img/checbox-buttons2.png) no-repeat 0 -22px;
        content: " ";
        display: block;
        height: 14px;
        margin: 0;
        padding: 0;
        @include position(absolute, 2px null null 0px);
        width: 14px;
      }

      .checkbox-item input[type="checkbox"].checkbox-styled:checked+label:after{
        background-position: 0 0px;
      }

    .checkbox-item input[type="checkbox"].checkbox-styled + label{
      color: $brown-color;
      font-size: 12px;
      vertical-align: top;
    }

    }
    button{
      text-transform: uppercase;
      color: #ffffff;
      @include size(125px 35px);
      line-height: 34px !important;
      background-color: $brown-color;
      margin: 0 auto;
      display: table;
      position: relative;
      bottom: 5px;
      font: 700 14px 'CenturyGothicRegular';
    }
}

/* Safari only */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  /* Safari only override */
  ::i-block-chrome,.overlay .input-container > label {
    font:700 12px "CenturyGothicRegular" !important;
  }
}

