/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 986px) {
	header .navbar-right{
		display: none;
	}

	header {
		height: 73px;
	}
	header .navbar-default  .navbar-brand{
		background: url(../img/logo720.png) no-repeat 0px 0px;
		margin: 7px 38px 0 21px;
		width: 72px;
		height: 46px;
	}

	.navbar-default .navbar-nav > li > a {
		padding: 26.5px 12px;
	}

	.navbar-default {
		min-height: 73px;
		margin-bottom: 0px;
		font: 12px Arial, sans-serif;
	}
	header .navbar-default .navbar-collapse .navbar-nav {
		margin: 0 -15px;
	}
	.s_review{
		min-height: 358px;
	}
	.carousel .item {
		min-height: 358px;
	}
	.carousel-control.left, .carousel-control.right{
		display: none;
	}
	.carousel .item .carousel-caption {
		top: 100px;
	}

	.s_review .to-contact{
		display: none;
	}

	.carousel .item .carousel-caption .h1 {
		font-size: 24px;
		line-height: 36px;
	}

	.about h1 {
		margin-bottom: 25px;
	}

	.slider .slick-prev,  .slider .slick-next {
		width: 14px;
		height: 16px;
	}

	.slick-slide img{
		height: 222px;
		width: 301px;
	}
	.s_table table{
		width: 100%;
	}

	.s_table table th:nth-child(1),
	.s_table table th:nth-child(6){
	 width: 170px;
	 padding-left: 48px;
	 padding-right: 48px;
	}

	.s_table table>tbody>tr td:nth-child(1),
	.s_table table>tbody>tr td.last{
	  padding-left: 48px;
	  padding-right: 48px;
	}

	.s_table table th:nth-child(2){
	   padding-left: 17px;
	   padding-right: 17px;
	    width: 78px;
	}

	.s_table table td[rowspan="7"]{
	   padding-left: 17px;
	   padding-right: 17px;
	}

	.s_table table th:nth-child(5){
	   padding-left: 17px;
	   padding-right: 17px;
	    width: 78px;
	}

	.s_table table td.fifth{
	   padding-left: 17px;
	   padding-right: 17px;
	}

	.s_table table th:nth-child(3){
	    padding-left: 15px;
	   padding-right: 15px;
	    width: 72px;
	}

	.s_table table td.third{
	  padding-left: 15px;
	   padding-right: 15px;
	}
	.s_table table th:nth-child(4){
	   padding-left: 35px;
	   padding-right: 35px;
	}

	.s_table table td.fourth{
	     padding-left: 35px;
	   padding-right: 35px;
	}
	footer {
		font-size: 12px;
	}

	.contacts > div {
    padding: 10px 0;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 766px) {
	header, .navbar-default, navbar-header {
		height: 81px;
		background-color: #fff;
	}

	header .navbar-default  .navbar-brand{
		background: url(../img/logo320.png) no-repeat 0px 0px;
		margin: 7px 15px 0 31px !important;
		width: 95px;
		height: 62px;
	}

	header .navbar-default .navbar-collapse{
		position: relative;
		top: 11px;
		border-top: 0;
		position: relative;
		z-index: 11;
		height: auto;
		max-height: 500px;
	}

	.navbar-default .navbar-nav > li > a {
		padding: 16px 31px;
	}

	.s_review{
		min-height: 312px;
	}

	.carousel .item {
		min-height: 312px;
	}

	.carousel .item .carousel-caption {
		top: 52px;
		right: 5%;
		left: 5%;
	}

	.carousel-indicators {
		display: none;
	}

	.about {
		padding-bottom: 30px;
	}

	.about h1 {
		margin-bottom: 20px;
	}

	.about > .container, .choose_flat > .container {
		width: 100%;
		padding: 0;
	}

	.about > .container > .row, .choose_flat > .container  >.row{
		margin: 0;
	}
	.choose_flat > .container > .row > div {
		padding: 0;
	}


	.about .description {
		width: 100%;
		padding: 30px;
		font-size: 12px;
	}

	.about .rightside {
		height: 250px;
		padding: 0;
	}

	.about .rightside .btn{
		left: calc(50% - 51px);
	}

	.about .leftside{
		height: 214px;
		padding: 0;
	}

	.slick-slider {
		padding: 0px;
		margin-bottom: 0;
	}

	.slick-slide img{
		width: 100%;
		height: 238px;
		height: 312px;
	}

	.choose_flat {
		padding-bottom:0;
	}

	.slider .slick-prev {
    left: 4px;
    background: url(../img/arrow-left.png) no-repeat center center;
	}

	.slider .slick-next {
    right: 4px;
    background: url(../img/arrow-right.png) no-repeat center center;
	}

	.slider .slick-prev,  .slider .slick-next {
		width: 29px;
		height: 42px;
	}

	.s_table{
		display: none;
	}

	.selectBox-dropdown {
   min-width: 100%;
  }
.s_form .form-container {
			width: 90%;
	    max-width: 314px;
}
	.hidden-749 {
		 display: none !important;
	}

	.mobile-social{
		display: block !important;
	}

	footer {
		height: 261px;
	}

	.footer-top {
		height: 193px;
		padding:33px 0 28px 0;
	}	

	.contacts > div {
		padding: 10px 0;
	}

	.footer-bottom {
		height: 68px;
	}

	.footer-top p {
    text-align: center;
	}
	.navbar-default .navbar-nav > li.to-contact{
		display: block;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.slick-slide img{
		height: 238px;
	}
	.overlay .form-container{
		width: 90%;
		padding: 30px;
	}
	.overlay form .input-container{
		width: 100%;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 767px) {
	.navbar-collapse.collapse{
		/*display: block !important;*/
	}

	.navbar-header {
		float: left;
	}
	.navbar-left,.navbar-right {
		float: left !important;
	}
	.navbar-toggle {
		display: none;
	}

	.navbar-collapse.collapse {
		display: block!important;
		border-top: 0;
	}
	.navbar-nav {
		float: right!important;
		/*margin-top: 7.5px;*/
	}
	.navbar-nav>li {
		float: left;
	}
	.navbar-nav>li>a {
	  /*      padding-top: 10px;
	  padding-bottom: 10px;*/
	}
	.collapse.in{
		display:none !important;
	}

	.container {
		width: 720px;
	}

	.about .leftside,
	.about .rightside{
		width: 50%;
		float: left;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 987px) {
	.container {
		width: 925px;
	}
	.navbar-nav {
		float: left!important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

@media (min-height: 720px) and (min-width : 1400px) {
	
}