/* Dropdown control */
.selectBox-dropdown {
    min-width: 314px;
    height: 35px;
    position: relative;
    border: 1px solid transparent !important;
    line-height: 1.5;
    text-decoration: none;
    text-align: left;
    color: #fff;
    outline: none;
    /*border-radius: 25px;*/
    vertical-align: middle;
    background: #F2F2F2;
    background:-moz-linear-gradient(top, #F8F8F8 1%, #E1E1E1 100%);
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #F8F8F8), color-stop(100%, #E1E1E1)); */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F8F8', endColorstr='#E1E1E1', GradientType=0);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    cursor: default;
    /*    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;*/
    background: rgba(255, 255, 255, 0.25);
    box-shadow: none;
    margin-bottom: 16px;
}


.selectBox-dropdown:focus,
.selectBox-dropdown:focus .selectBox-arrow {
    border-color: #666;
    outline: 0;
}

.selectBox-dropdown.selectBox-menuShowing{
    border: 1px solid transparent !important;
    /* width: 221px !important; */
    border-radius: 0;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    /* border-radius: 0; */
}

.selectBox-dropdown.selectBox-menuShowing-bottom {
    /*    -moz-border-radius-bottomleft: 0;
        -moz-border-radius-bottomright: 0;
        -webkit-border-bottom-left-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;*/
}

.selectBox-dropdown.selectBox-menuShowing-top {
    /*    -moz-border-radius-topleft: 0;
        -moz-border-radius-topright: 0;
        -webkit-border-top-left-radius: 0;
        -webkit-border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;*/
}

.selectBox-dropdown .selectBox-label {
    padding: 8px 20px 6px 15px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    font: 14px Arial;
    color: #fff;
    font-style: italic;
}

.selectBox-dropdown .selectBox-arrow {
    position: absolute;
    top: -1px;
    right: 0;
    width: 36px;
    height: 35px;
    /*background: url(jquery.selectBox-arrow.gif) 50% center no-repeat;*/
    background-image: url(../img/select-arr-bot.png);
    background-position:center;
    background-repeat:no-repeat;
    background-color: rgba(255,255,255,0.5);
    /*border-left: solid 1px #BBB;*/
}

.selectBox-menuShowing .selectBox-arrow {
    background-image: url(../img/select-arr-top.png);
    background-color: rgba(255,255,255,0.5);
}

/* Dropdown menu */
.selectBox-dropdown-menu {
    position: absolute;
    z-index: 99999;
    max-height: 200px;
    min-height: 1em;
    border: 1px solid  #d8d8d8; /* should be the same border width as .selectBox-dropdown */
    background: #FFF;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow: auto;
    /* border-radius: 5px; */
    width: 100%;
    min-width: 204px !important;
    -webkit-overflow-scrolling: touch;
}

/* Inline control */
.selectBox-inline {
    min-width: 150px;
    outline: none;
    border: solid 1px #BBB;
    background: #FFF;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: auto;
}

.selectBox-inline:focus {
    border-color: #666;
}

/* Options */
.selectBox-options,
.selectBox-options LI,
.selectBox-options LI A {
    list-style: none;
    display: block;
    cursor: default;
    padding: 0;
    margin: 0;
}

.selectBox-options.selectBox-options-top{
    /* border-bottom:none; */
    /* margin-top:1px; */
    border-top: none !important;
    /*border: 1px solid black !important;*/
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    left: 0 !important;
    top: 34px!important;
    z-index: 3;
}
.selectBox-options.selectBox-options-bottom{
    /*border-top:none;*/
    /*border: 1px solid black;*/
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    left: 0 !important;
    top: 34px!important;
    z-index: 3;
}

.card-order-wrap .card-order .selectBox-options.selectBox-options-top {
    top: 66px!important;
}
.card-order-wrap .card-order .selectBox-options.selectBox-options-bottom {
    top: 66px!important;
}

.selectBox-options LI A {
    line-height: 1;
    padding: 6px 20px 8px 15px;
    white-space: nowrap;
    overflow: hidden;
    color: #1e1e1e;
    background: 6px center no-repeat;
    text-decoration: none;
}

.selectBox-options LI.selectBox-hover A {
    background-color: #EEE;
}

.selectBox-options LI.selectBox-disabled A {
    color: #888;
    background-color: transparent;
}

.selectBox-options LI.selectBox-selected A {
    background-color: #C8DEF4;
}

.selectBox-options .selectBox-optgroup {
    color: #666;
    background: #EEE;
    font-weight: bold;
    line-height: 1.5;
    padding: 0 .3em;
    white-space: nowrap;
}

/* Disabled state */
.selectBox.selectBox-disabled {
    color: #888 !important;
}

.selectBox-dropdown.selectBox-disabled .selectBox-arrow {
    opacity: .5;
    filter: alpha(opacity=50);
    border-color: #666;
}

.selectBox-inline.selectBox-disabled {
    color: #888 !important;
}

.selectBox-inline.selectBox-disabled .selectBox-options A {
    background-color: transparent !important;
}

.styled-select select[name="status"]+.selectBox-dropdown {
    width: 100% !important;
    margin-bottom: 10px;
}

.search-by-select.company .selectBox-dropdown{
    width: 216px !important;
}

.section-header.for-search .selectBox-dropdown{
    border: 1px solid #e1dfdf !important;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 40px;
    min-width: 295px;
}

.section-header.for-search .selectBox-dropdown.selectBox-menuShowing{
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-top-left-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.section-header.for-search .selectBox-dropdown.selectBox-menuShowing + .selectBox-options{
    margin-top: 5px;
    border-top: 1px solid #e1dfdf !important;
}

.section-header.for-search .select1 .selectBox-dropdown.selectBox-menuShowing + .selectBox-options,
.section-header.for-search .select2 .selectBox-dropdown.selectBox-menuShowing + .selectBox-options {
    margin-top: -3px;
    border-top: 1px solid #e1dfdf !important;
}

.section-header.for-search .selectBox-dropdown .selectBox-label{
    padding: 8px 20px 6px 15px;
}

.section-header.for-search .select1 .selectBox-options.selectBox-options-bottom,
.section-header.for-search .select2 .selectBox-options.selectBox-options-bottom,
.section-header.for-search .select1 .selectBox-options-top,
.section-header.for-search .select2 .selectBox-options.selectBox-options-top{
    top: 73px!important;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
}
